<a href="https://colab.research.google.com/github/AnoVando/Work2/blob/master/ca_hts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Richer syntax highlighting

Improved support for nested languages:

```notebook-python
df = pd.io.gbq.read_gbq('''
  SELECT 
    REGEXP_EXTRACT(name, '[a-zA-Z]+'),
    SUM(number) as count
  FROM `bigquery-public-data.usa_names.usa_1910_2013`
  WHERE state = 'TX'
  GROUP BY name
  ORDER BY count DESC
  LIMIT 100
''')
```

In [0]:
import pandas as pd
import numpy as np
import glob
import os

In [0]:
materials = pd.read_excel("https://raw.githubusercontent.com/AnoVando/Work2/master/IT2-Materials.xlsx")
materials.columns = ['Product_ID']

In [0]:
ca_hts = pd.read_excel("https://raw.githubusercontent.com/AnoVando/Work2/master/CA_HTS.xlsx")
ca_hts.columns = ['Legal Regulation','Type','Product_ID','HTS_Code','RUN LOG']
ca_hts.drop(columns='RUN LOG', inplace=True)

In [34]:
ca_hts.head()

  Legal Regulation  Type    Product_ID      HTS_Code
0              ACE   101  FWALH024XL00  9.801002e+09
1            CUSCA   101  FWALH024XL00  9.802000e+09
2            CUSPA   101  FWALH024XL00  9.603100e+09
3            CUSMX   101  FWALH024XL00  3.701100e+07
4              ACE   107  FWALH024XL00  9.903170e+07

In [35]:
results = ca_hts.merge(materials, on = 'Product_ID')
results.head()

  Legal Regulation  Type      Product_ID      HTS_Code
0            CUSCA   101   0-301-709-001  8.539101e+09
1            CUSCA   101   0-332-209-203  8.536410e+09
2            CUSCA   101  000-59566-0000  8.544420e+09
3            CUSCA   101         0001-08  7.318150e+09
4            CUSCA   101         0001-14  7.318150e+09

In [36]:
results["Product_ID"].describe()

count       118411
unique      114411
top       16-04996
freq           129
Name: Product_ID, dtype: object

In [0]:
from google.colab import files

results.to_excel('ca_hts.xlsx')