<a href="https://colab.research.google.com/github/AnoVando/Work2/blob/master/ECCN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Richer syntax highlighting

Improved support for nested languages:

```notebook-python
df = pd.io.gbq.read_gbq('''
  SELECT 
    REGEXP_EXTRACT(name, '[a-zA-Z]+'),
    SUM(number) as count
  FROM `bigquery-public-data.usa_names.usa_1910_2013`
  WHERE state = 'TX'
  GROUP BY name
  ORDER BY count DESC
  LIMIT 100
''')
```

In [0]:
import pandas as pd
import numpy as np
import glob
import os

In [0]:
materials = pd.read_excel("https://raw.githubusercontent.com/AnoVando/Work2/master/IT2-Materials.xlsx")
materials.columns = ['Product_ID']

In [0]:
materials.head()

  Product_ID
0          1
1      00013
2        070
3    101.284
4    101.339

In [0]:
contracts = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/contracts.csv", sep=',')
contracts.columns = ['Supplier','Product_ID','Base_Price']

In [0]:
contracts.head()

  Supplier  Product_ID  Base_Price
0  05901AA  SA16095000       49.58
1  05901AA  SA16095001       53.60
2  05901AA  HP50034204       67.55
3  05901AA     K113-81       49.35
4  05901AA    K188-208      115.00

In [0]:
results = contracts.merge(materials, on = 'Product_ID')
results.head()

  Supplier  Product_ID  Base_Price
0  05901AA  HP50034204       67.55
1  05901AA  HP50034204       67.55
2  05901AA  HP50034204       67.55
3  05901AA     K113-81       49.35
4  05901AA     K113-81       37.50

In [0]:
results.drop_duplicates(subset=['Supplier', 'Product_ID'], keep='last', inplace=True)

In [0]:
results["Product_ID"].describe()

count          179632
unique         151619
top       PHT60S10646
freq                7
Name: Product_ID, dtype: object

In [0]:
from google.colab import files

results.to_excel('materials.xlsx')