<a href="https://colab.research.google.com/github/AnoVando/Work2/blob/master/ECCN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Richer syntax highlighting

Improved support for nested languages:

```notebook-python
df = pd.io.gbq.read_gbq('''
  SELECT 
    REGEXP_EXTRACT(name, '[a-zA-Z]+'),
    SUM(number) as count
  FROM `bigquery-public-data.usa_names.usa_1910_2013`
  WHERE state = 'TX'
  GROUP BY name
  ORDER BY count DESC
  LIMIT 100
''')
```

In [0]:
import pandas as pd
import numpy as np
import glob
import os

In [0]:
materials = pd.read_excel("https://raw.githubusercontent.com/AnoVando/Work2/master/IT2-Materials.xlsx")
materials.columns = ['Product_ID']

In [0]:
eccn = pd.read_excel("https://raw.githubusercontent.com/AnoVando/Work2/master/ECCN.xlsx")
eccn.drop(columns='RUN LOG', inplace=True)
eccn.columns = ['Legal Regulation', 'Product_ID', 'ECCN']

In [9]:
eccn.head()

  Legal Regulation      Product_ID   ECCN
0              EAR  ZTCBL11757-001  EAR99
1              EAR           ZT897  EAR99
2              EAR           ZT896  EAR99
3              EAR           ZT881  EAR99
4              EAR           ZT859  EAR99

In [10]:
results = eccn.merge(materials, on = 'Product_ID')
results.head()

  Legal Regulation Product_ID   ECCN
0              EAR      ZT897  EAR99
1              EAR      ZT896  EAR99
2              EAR      ZT881  EAR99
3              EAR      ZT859  EAR99
4              EAR      ZT741  EAR99

In [11]:
results["Product_ID"].describe()

count       323253
unique      321707
top       25006900
freq             3
Name: Product_ID, dtype: object

In [0]:
from google.colab import files

results.to_excel('eccn.xlsx')