<a href="https://colab.research.google.com/github/AnoVando/Work2/blob/master/master_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Richer syntax highlighting

Improved support for nested languages:

```notebook-python
df = pd.io.gbq.read_gbq('''
  SELECT 
    REGEXP_EXTRACT(name, '[a-zA-Z]+'),
    SUM(number) as count
  FROM `bigquery-public-data.usa_names.usa_1910_2013`
  WHERE state = 'TX'
  GROUP BY name
  ORDER BY count DESC
  LIMIT 100
''')
```

In [0]:
import pandas as pd
import numpy as np
import glob
import os

In [0]:
as400 = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/as400.csv")
as400_2 = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/as400_2.csv")
cef = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/cef.csv")
copics = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/copics.csv")
dyna = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/dyna.csv")
kwaust = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/kwaust.csv")
winch = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/winch.csv")

In [0]:
as400.columns = ['Source', 'Product_ID', 'Description']
as400_2.columns = ['Source', 'Product_ID', 'Description']
cef.columns = ['Source', 'Product_ID', 'Description']
copics.columns = ['Source', 'Product_ID']
dyna.columns = ['Source', 'Product_ID', 'Description']
kwaust.columns = ['Source', 'Product_ID', 'Description']
winch.columns = ['Source', 'Product_ID', 'Description']

In [0]:
master_list = pd.concat([as400, as400_2, cef, copics, dyna, kwaust, winch], ignore_index=True, sort=False)

In [69]:
master_list.describe()

         Source Product_ID Description
count   1442778    1442778     1081410
unique        6    1005071      314100
top       AS400   1.90E+14  PTO-MUNCIE
freq    1048574        489       18225

In [0]:
contracts = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/contracts.csv", sep=',')
contracts.columns = ['Supplier','Product_ID','Base_Price']

In [49]:
contracts.head()

  Supplier  Product_ID  Base_Price
0  05901AA  SA16095000       49.58
1  05901AA  SA16095001       53.60
2  05901AA  HP50034204       67.55
3  05901AA     K113-81       49.35
4  05901AA    K188-208      115.00

In [53]:
contracts.describe()

          Base_Price
count  419940.000000
mean     1386.726368
std      3828.255818
min         0.000000
25%        19.700000
50%       214.200000
75%       627.900000
max    107862.120000

In [50]:
results = contracts.merge(materials, on = 'Product_ID')
results.head()

  Supplier  Product_ID  Base_Price
0  05901AA  HP50034204       67.55
1  05901AA  HP50034204       67.55
2  05901AA  HP50034204       67.55
3  05901AA     K113-81       49.35
4  05901AA     K113-81       37.50

In [58]:
results = materials.merge(contracts, on = 'Product_ID', how = 'left')
results.head()

  Product_ID Supplier  Base_Price
0          1      NaN         NaN
1      00013      NaN         NaN
2        070  11782AA        8.17
3    101.284      NaN         NaN
4    101.339      NaN         NaN

In [0]:
results.drop_duplicates(subset=['Supplier', 'Product_ID'], keep='last', inplace=True)

In [59]:
results["Product_ID"].describe()

count     1042970
unique    1006095
top       19X1116
freq           10
Name: Product_ID, dtype: object

In [0]:
from google.colab import files

results.to_excel('materials_without_contract.xlsx')