<a href="https://colab.research.google.com/github/AnoVando/Work2/blob/master/master_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Richer syntax highlighting

Improved support for nested languages:

```notebook-python
df = pd.io.gbq.read_gbq('''
  SELECT 
    REGEXP_EXTRACT(name, '[a-zA-Z]+'),
    SUM(number) as count
  FROM `bigquery-public-data.usa_names.usa_1910_2013`
  WHERE state = 'TX'
  GROUP BY name
  ORDER BY count DESC
  LIMIT 100
''')
```

In [0]:
import pandas as pd
import numpy as np
import glob
import os

In [0]:
as400 = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/as400.csv")
as400_2 = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/as400_2.csv")
cef = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/cef.csv")
copics = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/copics.csv")
dyna = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/dyna.csv")
kwaust = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/kwaust.csv")
winch = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/winch.csv")

In [0]:
as400.columns = ['Source', 'Product_ID', 'Description']
as400_2.columns = ['Source', 'Product_ID', 'Description']
cef.columns = ['Source', 'Product_ID', 'Description']
copics.columns = ['Source', 'Product_ID']
dyna.columns = ['Source', 'Product_ID', 'Description']
kwaust.columns = ['Source', 'Product_ID', 'Description']
winch.columns = ['Source', 'Product_ID', 'Description']

In [0]:
master_list = pd.concat([as400, as400_2, cef, copics, dyna, kwaust, winch], ignore_index=True, sort=False)
master_list.drop(columns='Description', inplace=True)
master_list.drop_duplicates(subset=['Source','Product_ID'], inplace=True)

In [25]:
master_list.groupby(["Source"])["Product_ID"].count()

Source
AS400     823638
copics    209899
dyna        9508
kwaust     16995
pec         1032
winch       5301
Name: Product_ID, dtype: int64

In [0]:
copics_contracts = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/contracts.csv", sep=',')
copics_contracts.columns = ['Supplier','Product_ID','Base_Price']
kwaust_contracts = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/kwaust_contracts.csv", sep=',')
#kwaust_contracts.columns = ['Supplier','Product_ID','Base_Price']

In [29]:
kwaust_contracts.head()

   QF$DOC              QFLITM  QF$LIN  ...  Supplier  Product_ID Base_Price
0  167354  R25-1284-601221211    1000  ...    601155     7832889          0
1  167461  R25-1284-601221211    1000  ...    601155     7817832          0
2  171667           AU1540422    1000  ...   6006116     2116144          0
3  757487          456267A2X1    2000  ...   1111159      733397          0
4  758167            C81-1005    1000  ...   6000722      526783          0

[5 rows x 9 columns]

In [16]:
contracts.describe()

          Base_Price
count  419940.000000
mean     1386.726368
std      3828.255818
min         0.000000
25%        19.700000
50%       214.200000
75%       627.900000
max    107862.120000

In [19]:
results = master_list.merge(contracts, on = 'Product_ID')
results.head()

  Source Product_ID      Description Supplier  Base_Price
0  AS400  K028-2344  ANCHOR-MOULDING  15149AB         0.4
1  AS400  K028-2344  ANCHOR-MOULDING  15149AB         0.4
2  AS400  K028-2344  ANCHOR-MOULDING  15149AB         0.4
3  AS400  K028-2344  ANCHOR-MOULDING  15149AB         0.4
4  AS400  K028-2344  ANCHOR-MOULDING  15149AB         0.4

In [0]:
results.drop_duplicates(subset=['Supplier', 'Product_ID'], keep='last', inplace=True)

In [18]:
results["Product_ID"].describe()

count       436675
unique      151623
top       PH30RP41
freq           120
Name: Product_ID, dtype: object

In [0]:
from google.colab import files

results.to_excel('materials_without_contract.xlsx')