<a href="https://colab.research.google.com/github/AnoVando/Work2/blob/master/mx_hts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Richer syntax highlighting

Improved support for nested languages:

```notebook-python
df = pd.io.gbq.read_gbq('''
  SELECT 
    REGEXP_EXTRACT(name, '[a-zA-Z]+'),
    SUM(number) as count
  FROM `bigquery-public-data.usa_names.usa_1910_2013`
  WHERE state = 'TX'
  GROUP BY name
  ORDER BY count DESC
  LIMIT 100
''')
```

In [0]:
import pandas as pd
import numpy as np
import glob
import os

In [0]:
materials = pd.read_excel("https://raw.githubusercontent.com/AnoVando/Work2/master/IT2-Materials.xlsx")
materials.columns = ['Product_ID']

In [0]:
mx_hts = pd.read_excel("https://raw.githubusercontent.com/AnoVando/Work2/master/MX_HTS.xlsx")
mx_hts.columns = ['Legal Regulation','Type','Product_ID','HTS_Code','RUN LOG']
mx_hts.drop(columns='RUN LOG', inplace=True)

In [41]:
mx_hts.head()

  Legal Regulation  Type    Product_ID    HTS_Code
0              ACE   101  FWALH024XL00  9801002000
1            CUSCA   101  FWALH024XL00  9802000000
2            CUSPA   101  FWALH024XL00  9603100000
3            CUSMX   101  FWALH024XL00    37011001
4              ACE   107  FWALH024XL00    99031702

In [42]:
results = mx_hts.merge(materials, on = 'Product_ID')
results.head()

  Legal Regulation  Type       Product_ID  HTS_Code
0            CUSMX   101   000-59566-0000  87084007
1            CUSMX   101        000001-05  85122099
2            CUSMX   101  00081923-000400  90268099
3            CUSMX   101           001269  84099907
4            CUSMX   101        001801ALU  87087006

In [43]:
results["Product_ID"].describe()

count        57346
unique       56966
top       25007600
freq             3
Name: Product_ID, dtype: object

In [0]:
from google.colab import files

results.to_excel('mx_hts.xlsx')