<a href="https://colab.research.google.com/github/AnoVando/Work2/blob/master/PIRS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Richer syntax highlighting

Improved support for nested languages:

```notebook-python
df = pd.io.gbq.read_gbq('''
  SELECT 
    REGEXP_EXTRACT(name, '[a-zA-Z]+'),
    SUM(number) as count
  FROM `bigquery-public-data.usa_names.usa_1910_2013`
  WHERE state = 'TX'
  GROUP BY name
  ORDER BY count DESC
  LIMIT 100
''')
```

In [0]:
import pandas as pd
import numpy as np
import glob
import os

In [0]:
# Materials
as400 = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/as400.csv")
as400_2 = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/as400_2.csv")
cef = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/cef.csv")
copics = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/copics.csv")
dyna = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/dyna.csv")
kwaust = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/kwaust.csv")
winch = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/winch.csv")

as400.columns = ['Source', 'Product_ID', 'Description']
as400_2.columns = ['Source', 'Product_ID', 'Description']
cef.columns = ['Source', 'Product_ID', 'Description']
copics.columns = ['Source', 'Product_ID']
dyna.columns = ['Source', 'Product_ID', 'Description']
kwaust.columns = ['Source', 'Product_ID', 'Description']
winch.columns = ['Source', 'Product_ID', 'Description']

master_list = pd.concat([as400, as400_2, cef, copics, dyna, kwaust, winch], ignore_index=True, sort=False)
master_list.drop(columns='Description', inplace=True)
master_list.drop_duplicates(subset=['Source','Product_ID'], inplace=True)

master_noas400 = pd.concat([cef, copics, dyna, kwaust, winch], ignore_index=True, sort=False)
master_noas400.drop(columns='Description', inplace=True)
master_noas400.drop_duplicates(subset=['Source','Product_ID'], inplace=True)

In [76]:
master_noas400.groupby(["Source"])["Product_ID"].count()

Source
copics    209899
dyna        9508
kwaust     16995
pec         1032
winch       5301
Name: Product_ID, dtype: int64

In [0]:
# PPD Supplier Part Relationship
as400_atl = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/as400_atl.csv", encoding = 'ISO-8859-1')
as400_lan = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/as400_lan.csv", encoding = 'ISO-8859-1')
as400_new = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/as400_new.csv", encoding = 'ISO-8859-1')
as400_okc = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/as400_okc.csv", encoding = 'ISO-8859-1')
as400_pty = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/as400_pty.csv", encoding = 'ISO-8859-1')
as400_que = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/as400_que.csv", encoding = 'ISO-8859-1')
as400_roc = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/as400_roc.csv", encoding = 'ISO-8859-1')
as400_sea = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/as400_sea.csv", encoding = 'ISO-8859-1')
as400_slp = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/as400_slp.csv", encoding = 'ISO-8859-1')
as400_tor = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/as400_tor.csv", encoding = 'ISO-8859-1')

In [0]:
ppd_contracts_all = pd.concat([as400_atl, as400_lan, as400_new, as400_okc, as400_pty, as400_que, as400_roc, as400_sea,
                               as400_slp, as400_tor], ignore_index=True, sort=False)
ppd_contracts_all.columns = ['Product_ID', 'Plant', 'Supplier']

In [79]:
ppd_contracts_all.groupby(["Plant"])["Product_ID"].count()

Plant
CA51    512479
CA52    557475
MX51    358421
PA51    499942
US52    575337
US53    583747
US54    572305
US55    593191
US56    575572
US57    571717
Name: Product_ID, dtype: int64

In [80]:
as400_materials = pd.concat([as400, as400_2], ignore_index=True, sort=False)
as400_materials.drop(columns='Description', inplace=True)
as400_materials.drop_duplicates(subset=['Source','Product_ID'], inplace=True)
as400_materials.head()

  Source     Product_ID
0  AS400   SP1V57-11812
1  AS400      K028-2344
2  AS400        P551424
3  AS400      15-766DSP
4  AS400  SH8SU6807P11X

In [81]:
as400_pirs = as400_materials.merge(ppd_contracts_all, how='left', left_on = ['Product_ID'], right_on= ['Product_ID'])
as400_pirs['Supplier'].fillna('No Data', inplace=True)
as400_pirs.head()

  Source    Product_ID Plant Supplier
0  AS400  SP1V57-11812  US56  20495AA
1  AS400  SP1V57-11812  US54  20495AA
2  AS400  SP1V57-11812  US55  20495AA
3  AS400  SP1V57-11812  US57  20495AA
4  AS400  SP1V57-11812  PA51  20495AA

In [82]:
as400_pirs.groupby('Plant')['Product_ID'].count()

Plant
CA51    388845
CA52    402704
MX51    264141
PA51    373137
US52    416228
US53    422926
US54    413672
US55    429899
US56    416319
US57    413577
Name: Product_ID, dtype: int64

In [0]:
CA51 = as400_pirs.loc[as400_pirs.Plant == 'CA51']
CA52 = as400_pirs.loc[as400_pirs.Plant == 'CA52']
MX51 = as400_pirs.loc[as400_pirs.Plant == 'MX51']
PA51 = as400_pirs.loc[as400_pirs.Plant == 'PA51']
US52 = as400_pirs.loc[as400_pirs.Plant == 'US52']
US53 = as400_pirs.loc[as400_pirs.Plant == 'US53']
US54 = as400_pirs.loc[as400_pirs.Plant == 'US54']
US55 = as400_pirs.loc[as400_pirs.Plant == 'US55']
US56 = as400_pirs.loc[as400_pirs.Plant == 'US56']
US57 = as400_pirs.loc[as400_pirs.Plant == 'US57']

In [0]:
#with pd.ExcelWriter('AS400_PIRS.xlsx') as writer:  
    CA51.to_excel(writer, sheet_name='CA51')
    CA52.to_excel(writer, sheet_name='CA52')
    MX51.to_excel(writer, sheet_name='MX51')
    PA51.to_excel(writer, sheet_name='PA51')
    US52.to_excel(writer, sheet_name='US52')
    US53.to_excel(writer, sheet_name='US53')
    US54.to_excel(writer, sheet_name='US54')
    US55.to_excel(writer, sheet_name='US55')
    US56.to_excel(writer, sheet_name='US56')
    US57.to_excel(writer, sheet_name='US57')

In [0]:
# Contracts
copics_contracts = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/contracts.csv", sep=',')
copics_contracts.columns = ['Supplier','Product_ID','Base_Price']
copics_contracts['Source'] = 'copics'
kwaust_contracts = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/kwaust_contracts.csv", sep=',')
kwaust_contracts.columns = ['Supplier','Product_ID','Base_Price']
kwaust_contracts['Source'] = 'kwaust'

contracts_all = pd.concat([copics_contracts, kwaust_contracts], ignore_index=True, sort=False)

In [85]:
contracts_all.head()

  Supplier  Product_ID  Base_Price  Source
0  05901AA  SA16095000       49.58  copics
1  05901AA  SA16095001       53.60  copics
2  05901AA  HP50034204       67.55  copics
3  05901AA     K113-81       49.35  copics
4  05901AA    K188-208      115.00  copics

In [0]:
ecc_pirs = pd.read_csv("https://raw.githubusercontent.com/AnoVando/Work2/master/ecc_pirs.csv")
ecc_pirs.columns  = ['Product_ID', 'Supplier', 'Plant', 'PGr', 'OPU', 'Base_Price', 'Currency', 'Per']

In [87]:
ecc_pirs.head()

  Product_ID Supplier Plant  PGr OPU Base_Price Currency Per
0   13-03396  10680AB  US05  B05  EA       0.32      USD  10
1   13-03396  10680AB  US06  B05  EA       0.32      USD  10
2   13-03511  08175AA  US05  A05  EA       1.82      USD   1
3   13-03662  16537AA  US05  A05  EA       0.50      USD   1
4   13-03664  08175AA  US05  A05  EA       1.97      USD   1

In [88]:
ecc_pirs.groupby('Plant')['Product_ID'].count()

Plant
BR01    14327
BR02    15582
US05    29417
US06    28318
US07     7769
US16     4656
Name: Product_ID, dtype: int64

In [0]:
ecc_pirs = ecc_pirs.merge(master_list, how='left', left_on = ['Product_ID'], right_on= ['Product_ID'])

In [93]:
results = copics_contracts.merge(master_noas400, how='left', left_on = ['Product_ID', 'Source'], right_on= ['Product_ID', 'Source'])
results['Supplier'].fillna('No Data', inplace=True)
results['Base_Price'].fillna(0, inplace=True)
results.tail()

       Supplier Product_ID  Base_Price  Source
419935    90527    2267643        0.67  copics
419936    90527    2267647        0.69  copics
419937    90527    2267648        0.36  copics
419938    90527    2267653        0.49  copics
419939    90527    2267654        1.03  copics

In [0]:
results.drop_duplicates(subset=['Supplier', 'Product_ID'], keep='last', inplace=True)

In [95]:
results.groupby(["Source"])['Product_ID'].count()

Source
copics    400606
Name: Product_ID, dtype: int64

In [0]:
from google.colab import files

results.to_excel('pir_data.xlsx')

In [0]:
as400_full = pd.concat([as400, as400_2], ignore_index=True, sort=False)
as400_full.drop_duplicates(subset=['Source','Product_ID'], inplace=True)

In [0]:
from google.colab import files

as400_full.to_excel('as400_full.xlsx')

In [0]:
writer = ExcelWriter('output.xlsx')
df1.to_excel(writer, 'sheet1')
df2.to_excel(writer, 'sheet2')
writer.save()