<a href="https://colab.research.google.com/github/AnoVando/Work2/blob/master/us_hts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Richer syntax highlighting

Improved support for nested languages:

```notebook-python
df = pd.io.gbq.read_gbq('''
  SELECT 
    REGEXP_EXTRACT(name, '[a-zA-Z]+'),
    SUM(number) as count
  FROM `bigquery-public-data.usa_names.usa_1910_2013`
  WHERE state = 'TX'
  GROUP BY name
  ORDER BY count DESC
  LIMIT 100
''')
```

In [0]:
import pandas as pd
import numpy as np
import glob
import os

In [0]:
materials = pd.read_excel("https://raw.githubusercontent.com/AnoVando/Work2/master/IT2-Materials.xlsx")
materials.columns = ['Product_ID']

In [0]:
us_hts = pd.read_excel("https://raw.githubusercontent.com/AnoVando/Work2/master/US_HTS.xlsx")
us_hts.columns = ['Legal Regulation','Type','Product_ID','HTS_Code','RUN LOG']
us_hts.drop(columns='RUN LOG', inplace=True)

In [18]:
us_hts.head()

  Legal Regulation  Type    Product_ID      HTS_Code
0              ACE   101  FWALH024XL00  9.801002e+09
1            CUSCA   101  FWALH024XL00  9.802000e+09
2            CUSPA   101  FWALH024XL00  9.603100e+09
3            CUSMX   101  FWALH024XL00  3.701100e+07
4              ACE   107  FWALH024XL00  9.903170e+07

In [19]:
results = us_hts.merge(materials, on = 'Product_ID')
results.head()

  Legal Regulation  Type     Product_ID      HTS_Code
0              ACE   101  0001-0028CMTQ  8.302303e+09
1              ACE   101  0001-0522CMTQ  8.302303e+09
2              ACE   101  0001-0576CMTQ  8.302303e+09
3              ACE   101  0001-0585CMTQ  8.302303e+09
4              ACE   101  0001-0645CMTQ  8.302303e+09

In [20]:
results["Product_ID"].describe()

count       194234
unique      193282
top       20-16466
freq             3
Name: Product_ID, dtype: object

In [0]:
from google.colab import files

results.to_excel('us_hts.xlsx')